body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  align-items: center;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #218838;
}
.error {
  color: red;
  font-size: 14px;
}

.dark-theme input,
.dark-theme button {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333;
}

.dark-theme button{
  border-top: 100px;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background: var(--button-bg);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s;
}

.theme-toggle:hover {
  background: var(--button-hover);
}

.dark-theme {
  --bg-color: linear-gradient(
    to bottom,
    #333,#111); /* Escuro: gradiente escuro */
  --container-bg: rgba(27, 27, 27, 0.9);
  --text-color: #ccc;
  --h1-color: #c20000; /* Vermelho mais claro para escuro */
  --button-bg: #ff6600;
  --button-hover: #cc5500;
  --link-color: #66b3ff;
  background-size: contain; /* encaixa inteira no elemento */
  background-size: cover; /* cobre o elemento inteiro */
  background-position: center;
  background-image: url(../assets/imgs/logo-black.jfif);
  backdrop-filter: blur(30px);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color);
  transition: background 0.3s, color 0.3s; /* Transição suave */

  #container {
  background: rgb(52, 52, 52);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  align-items: center;
}
input {
  width: 93%;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #ccc;
  color: black;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
}

#name, #email, #password{
  background-color: #f4f4f4;
}

h2{
  color: #c20000;
  font-weight: bold;
}