:root {
    --bg-color: linear-gradient(to bottom, #ffcccc, #ffff99); /* Claro: gradiente vermelho-claro para amarelo */
    --container-bg: rgba(255, 255, 255, 0.9);
    --text-color: #555;
    --h1-color: #d32f2f;
    --button-bg: #ff9800;
    --button-hover: #e68900;
    --link-color: #007bff;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme input,
.dark-theme button {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333;
}
